
// Body
$body-bg: #fff;

.btn-group-xs > .btn, .btn-xs {
  padding  : .25rem .4rem !important;
  font-size  : .725rem !important;
  line-height  : .7 !important;
  border-radius : .2rem !important;
}

// Typography
//$font-family-sans-serif: "Raleway", sans-serif;
//$font-size-base: 0.9rem;
//$line-height-base: 1.6;
