
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Font-awesome
@import "~font-awesome/scss/font-awesome";

.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter, .fade-leave-to
{
  opacity: 0;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.featured-card {
  position: relative;
}

.featured-card-avatar {
  position: absolute;
  top: -0.3em;
  right: 0.3em;
  border: 3px solid white;
  z-index: 2;
}

